* {
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 18%, 86%);
}
nav ul {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
